@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-[#FF00FF] text-[100px]">Welcome</h1>
    <div class="p_search_wrap">
        <input type="text" id="search-input" placeholder="Nhấp vào đây...">
        <button id="search-button">Tra cứu</button>
    </div>
    <div id="list_search"></div>
    <div id="result">
        <!-- Kết quả tra cứu sẽ hiển thị ở đây -->
        
    </div>
</div>
